* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  overflow-y: scroll;
}
form {
  width: 40%;
  margin: auto;
}
form {
  display: flex;
}
form div {
  width: 40%;
}
form div label {
  display: block;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
form select {
  width: 100%;
  padding: 10px;
  font-size: 1.7em;
  outline: none;
  background: rgb(204, 201, 201);
  border: none;

}
select::-webkit-scrollbar {
  display: none;
}
form #country {
  border-radius: 0.3em 0em 0em 0.3em;
}
form button {
  width: 20%;
  padding: 10px;
  border: none;
  font-size: 1.7em;
  border-radius: 0em 0.3em 0.3em 0em;
  background: gray;
  color: white;
}
h1 {
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  font-size: 3em;
}
.container-card {
  padding: 2em 10em;
  display: flex;
}
.card {
  background: gainsboro;
  width: 20%;
  padding: 3em 2em;
  border-radius: 0.5em;
  margin: 0.3em;
  color: #333;
}
.card h3 {
  text-align: center;
  font-size: 2em;
}
.card h4 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

h1 {
  font-size: 5em;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
.info {
  margin-top: 0.5em;
}
.info span {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  background: grey;
  padding: 0.1em 0.2em;
  border-radius: 0.1em;
}
select {
  overflow-y: hidden;
}
@media (max-width: 1000px) {
  .container {
    padding-top: 6vh;
  }
  .container-card {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  form {
    width: 80%;
  }

  .info span {
    background: grey;
    padding: 0.1em 0.2em;
    border-radius: 0.1em;
  }
}
@media (max-width:600px) {
  .container{
    padding-top: 4vh;
  }
  h1{
    font-size: 3em;
  }
  .container-card {
    flex-direction: column;
    width: 100%;
    padding: 0% !important;
  }
  .card {
    width: 90%;
    margin:1em auto;
  }
  form {
    width: 95%;
  }
  form select , form button {
    font-size: 1em;
  }
  .info{
    font-size: 1.1em;
  }
  .info span {
    display: inline-block;
    font-size: 1.2em;
    background: grey;
    padding: 0.1em 0.2em;
    border-radius: 0.1em;
  }
}